<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>460745823958-8tbpv7k3lnhdm9e77c0e8d4gbampe64g.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>YOUR_REVERSED_ID_HERE</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>460745823958-jc0nac4c332rb2s3rg5e93ce749p0fi9.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyAnwXLhjECP6fB8J4yURmRZ1pX3STcsIr4</string>
		<key>GCM_SENDER_ID</key>
		<string>460745823958</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.chatApp</string>
		<key>PROJECT_ID</key>
		<string>chat-app-7dfd0</string>
		<key>STORAGE_BUCKET</key>
		<string>chat-app-7dfd0.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:460745823958:ios:ebe6667e4b8d4e7fa71b77</string>
		<key>DATABASE_URL</key>
		<string>https://chat-app-7dfd0.firebaseio.com</string>
	</dict>
</plist>